<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Manage Loans
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let loan of loans">
    <ion-item>
      <ion-icon name="person"></ion-icon>
      {{loan.username}}
    </ion-item>
    <p class="items" *ngFor="let item of loan.items">
      {{item.id}} X {{item.quantity}}
    </p>
    <ion-button class="approve" (click)="approve(loan.id)">
      Approve
    </ion-button>
    <ion-button class="reject" (click)="reject(loan.id)">
      Reject
    </ion-button>
    </ion-card>


</ion-content>
