.items {
  padding-left: 20px;
  margin: 0%;
  margin-top: 3px;
}

.approve {
  padding-left: 15px;
  color:#45b445;
  background-color: white;
  border-style: solid;
  border-color: green
}

.reject {
  padding-left: 15px;
  color:red;
  background-color: white;
  border-style: solid;
  border-color: red;
}

